@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

    @{
        ViewData["Title"] = "Roles";
    }

<h1>Roles</h1>

<p>
    <a asp-action="Create">Crear Rol</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(model => item.Id) </td>
                <td> @Html.DisplayFor(model => item.Name) </td>
            </tr>
        }
    </tbody>

</table>
